/* Общие стили */





:root {
    --dark-bg: #111;
    /* Мягкий золотой */
    --gold-darker: #a17f1a;
    --text-color: #fff;
    --input-bg: rgba(255, 255, 255, 0.05);
    --form-bg: rgba(0, 0, 0, 0.7);
    --color-dark: #121212;
    --color-light-text: #E0E0E0;
    --color-gold: #D4AF37;
    /* Основной золотой */
    --color-gold-light: #FFD700;
    /* Более светлый золотой для акцентов */
    --color-dark-marble: #222222;
    /* Темно-серый для имитации мрамора */
    --color-button-bg: transparent;
    --color-button-border: #D4AF37;
}


body {

    color: #e0e0e0;
    /* Светлый текст */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main__screen {
    max-height: 800px;
    max-width: 1600px;
    background-image: url(./img/bg-main.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px 40px;
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    opacity: 0;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.logo-icon {
    font-size: 30px;
    color: #ffd700;
    margin-right: 10px;
    line-height: 1;
}

.logo-text {
    line-height: 1.2;
}

.logo-subtext {
    display: block;
    font-size: 10px;
    font-weight: 400;
    color: #a0a0a0;
}

.navigation a {
    color: #e0e0e0;
    text-decoration: none;
    margin-left: 30px;
    font-size: 14px;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #ffd700;
}

.btn-explore {
    background-color: #b8860b;
    color: white !important;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 40px;
    cursor: pointer;
}

/* Основной контент */
.content {
    max-width: 1600px;
    margin: 0 auto;

}

.text-block {
    margin: 80px 0 50px 50px;
    flex: 1;
    max-width: 45%;
    z-index: 2;

}

.subtitle {
    font-size: 18px;
    font-weight: 500;
    color: #a0a0a0;
    margin-bottom: 20px;

}

.title {
    font-size: 4vw;
    line-height: 1.1;
    margin: 0 0 30px 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(-45deg, #000 20%, #b8860b 70%, #000 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% auto;
    animation: text 7s ease-in-out infinite alternate;
    opacity: 0;

}

.element-show {
    opacity: 1;
    transition: all 3s;
}

@keyframes text {
    0% {
        background-position: 200%
    }

}

.body-text {
    font-size: 16px;
    line-height: 1.6;
    max-width: 80%;
    color: #c0c0c0;
    opacity: 0;
    transform: translateY(100%);
}

.body-text.element-show {
    opacity: 1;
    transition: all 2s;
    transform: translateY(0%);
}


/* Стили для второй секции */


/* Общие стили для страницы коллекции */
.collection-page {

    background-repeat: no-repeat;
    max-width: 1600px;
    margin-top: 50px auto 0 auto;
    align-content: center;
    border-radius: 25px;
    padding: 50px 0;
    margin-top: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);


}

.collection-grid {
    align-content: center;
    max-width: 1500px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: auto auto;
}

/* Стили для отдельной карточки */
.card {
    border: 1px solid #333;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(184, 134, 11, 0.5);
    border-image: linear-gradient(to bottom right, #b8860b, #4b3605) 1;
    border-width: 1px;
    border-style: solid;
    height: 100%;
    opacity: 0;
    transform: translateY(50%);

}

.card.element-show {
    opacity: 1;
    transition: 1s;
    transform: translateY(0%);

}

.card.element-show:nth-of-type(2) {
    opacity: 1;
    transition: 2s;
    transform: translateY(0%);

}

.card.element-show:nth-of-type(3) {
    opacity: 1;
    transition: 3s;
    transform: translateY(0%);

}

.card.element-show:nth-of-type(4) {
    opacity: 1;
    transition: 1s;
    transform: translateY(0%);

}

.card.element-show:nth-of-type(5) {
    opacity: 1;
    transition: 2s;
    transform: translateY(0%);

}

.card.element-show:nth-of-type(6) {
    opacity: 1;
    transition: 3s;
    transform: translateY(0%);

}


.card-image-container {
    height: 450px;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
}


.card-image {
    background-color: #000000;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    box-shadow:
        inset 5px 0 10px -5px #b8860b,
        inset -5px 0 10px -5px #b8860b;
}





.card-title {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: 10px 0 5px 0;
    color: #fff;
}

.card-description {
    font-size: 14px;
    color: #a0a0a0;
    height: 35px;
    margin-bottom: 15px;
}

.btn-card {
    display: inline-block;
    color: #ffd700;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #b8860b;
    padding: 8px 25px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 20px;
}

.btn-card:hover {
    background-color: #b8860b;
    color: #1a1a1a;
}

/* Адаптивность для сетки */








/* секция галерея */
/* 1. Обложка Модального Окна */


.gallery {

    max-height: 1200px;
    max-width: 1600px;
    margin-top: 50px;
    align-content: center;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);


}


.gallery-content {

    max-width: 1000px;
    height: 80vh;

    border: 1px solid #333;
    box-shadow: 0 0 30px rgba(184, 134, 11, 0.5);
    border-image: linear-gradient(to bottom right, #b8860b, #4b3605) 1;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 0;
    transform: translateX(-50%);
}

.gallery-content.element-show {
    opacity: 1;
    transition: all 2s;
    transform: translateX(0%);

}

.slider-controls {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1005;
}

.arrow {
    color: #ffd700;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
    user-select: none;
    padding: 0 10px;
}

.arrow:hover {
    opacity: 1;
}

.modal-image {
    object-fit: contain;
    margin: 0 auto;


}

.modal-info-bar {
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    justify-content: space-between;
    color: #fff;
    text-align: center;
}

.modal-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin: 0;
    padding-bottom: 5px;
}

.modal-description {
    font-size: 16px;
    color: #c0c0c0;
    margin: 0;
}

.modal-footer-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.action-icons .icon {
    font-size: 24px;
    margin-right: 15px;
    color: #ffd700;
    cursor: pointer;
    transition: color 0.3s;
}

.action-icons .icon:hover {
    color: #fff;
}

.pagination-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #ffd700;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    margin: 0 auto;
}

.pagination-dots .dot.active {
    background-color: #ffd700;
}

.arrow {
    margin-left: 15px;
}

.next-arrow {
    margin-right: 15px;
}



























.contact-form {

    max-height: 800px;
    max-width: 1600px;
    margin-top: 50px;
    align-content: center;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);



}




.img-navig {
    width: 450px;
    margin: 0 auto;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    padding: 5px 0;
    position: relative;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--gold-accent);
}

.header-button {
    background: var(--gold-accent);
    color: var(--dark-bg);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s;
}

.header-button:hover {
    background: #e6c888;
}


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.contact-form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    border: 1px solid #b8860b;
    box-shadow: 0 0 15px #b8860b, inset 0 0 10px rgba(192, 168, 109, 0.5);
    opacity: 0;
}

.contact-form-container.element-show {
    opacity: 1;
    transition: 2s;
}

.contact-form-frame h2 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    /* Имитация золотого свечения текста */
    text-shadow: 0 0 7px rgba(192, 168, 109, 0.8);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: none;
    /* Скрываем стандартные метки, чтобы использовать только placeholder */
}

.contact-form-frame input[type="text"],
.contact-form-frame input[type="tel"],
.contact-form-frame input[type="email"],
.contact-form-frame textarea {
    width: 100%;
    padding: 15px;
    background: var(--input-bg);
    border: 1px solid #b8860b;
    /* Золотая обводка */
    color: var(--text-color);
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.contact-form-frame input::placeholder,
.contact-form-frame textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.contact-form-frame input:focus,
.contact-form-frame textarea:focus {
    border-color: #b8860b;
    /* Ярче золото при фокусе */
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.contact-form-frame textarea {
    resize: vertical;
}

.submit-button {
    width: 100%;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;

    /* Золотой градиент, как на изображении */
    background: linear-gradient(to top, var(--gold-darker), #c0a86d);
    color: #111;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.submit-button:hover {
    background: linear-gradient(to top, #ffd700, #ffd700);
    box-shadow: 0 6px 15px rgba(192, 168, 109, 0.7);
}










.nav-form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    border: 1px solid #b8860b;
    box-shadow: 0 0 15px #b8860b, inset 0 0 10px rgba(192, 168, 109, 0.5);
    transform: translateY(100%);
    opacity: 0;

}

.nav-form-container.element-show {
    transform: translateY(0%);
    opacity: 1;
    transition: 2s;
}

.nav-form-frame h2 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    /* Имитация золотого свечения текста */
    text-shadow: 0 0 7px rgba(192, 168, 109, 0.8);
}


.nav-form {
    max-height: 800px;
    max-width: 1600px;
    margin-top: 50px;
    align-content: center;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);



}





































.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-image: url(./img/Gemini_Generated_Image_701odn701odn701o.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    max-height: 800px;
    max-width: 1600px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    border-radius: 35px;
}


.hero-content {
    flex: 1;
    max-width: 750px;
    z-index: 10;
}

.hero-content h1 {
    font-size: 70px;
    color: var(--color-gold);
    margin-bottom: 10px;
}

.hero-content p:first-of-type {
    font-size: 50px;
    color: var(--color-light-text);
    margin-bottom: 20px;
}

.hero-content .description {
    font-size: 20px;
    color: var(--color-light-text);
    margin-bottom: 30px;
    opacity: 0.8;
}

.cta-button {
    display: inline-block;
    padding: 10px 30px;
    color: var(--color-gold);
    border: 1px solid var(--color-button-border);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: var(--color-gold);
    color: var(--color-dark);
}





/* -------------------- Нижняя Секция (Footer) -------------------- */

.footer-section {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark);
    color: var(--color-light-text);
    padding: 15px 80px;
    font-size: 0.8rem;
    border-top: 1px solid rgba(212, 175, 55, 0.2);
    margin-top: 50px;
    border-radius: 35px;
    padding-bottom: 10px;
    max-width: 1600px;
}

.footer-left .logo {
    font-weight: bold;
    color: var(--color-gold);
}

.footer-center {
    display: flex;
    gap: 20px;
}

.footer-center a {
    color: var(--color-light-text);
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.footer-center a:hover {
    opacity: 1;
}

.footer-right {
    display: flex;
    gap: 10px;
}

.social-icon {
    display: flex;
    background-color: #ffd700;
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-gold);
    border-radius: 50%;
    justify-content: center;
    align-items: center
}

.cosial-img {
    width: 30px;
    height: 30px;
}





@media (max-width: 1200px) {
    .collection-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 колонки на средних экранах */
    }
}

@media (max-width: 768px) {
    .collection-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .collection-page {
        padding: 20px 5%;
        margin-top: 10px;

    }


    .text-block {
        max-width: 90%;
        margin: 0;

    }

    .gallery-content {
        margin-left: 5%;
        margin-right: 5%;
        height: 60vh;
    }

    .gallery {
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .contact-form-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact-form {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 30px;
    }

    .contact-form h2 {
        font-size: 20px;
    }

    .nav-form-container {
        margin-left: 5%;
        margin-right: 5%;

    }

    .nav-form {
        margin-top: 0;
        padding-top: 0;
    }

    .modal-info-bar {
        height: 80px;
    }

    .modal-title {

        font-size: 10px;


    }

    .modal-description {
        font-size: 8px;

    }

    .card-image-container {
        height: 350px;
    }

    .card.element-show:nth-of-type(2),
    .card.element-show:nth-of-type(3),
    .card.element-show:nth-of-type(4),
    .card.element-show:nth-of-type(5),
    .card.element-show:nth-of-type(6) {
        opacity: 1;
        transition: 1.5s;
        transform: translateY(0%);

    }

    .modal-info-bar {
        bottom: 20px;

    }

    .slider-controls {
        display: none;
    }

    .modal-image {
        padding: 0 10px;

    }

    .main__screen {
        padding: 20px 0 40px 5%;
        background-position: bottom;

    }

    .logo {
        max-width: 60%;
    }

    .body-text {
        font-size: 16px;
        margin-top: 50px;
    }

    .title {
        font-size: 40px;
        margin-top: 30px;
    }

    .subtitle {
        font-size: 14px;
    }

    .navigation {
        display: none;
    }

    .hero-content h1 {
        font-size: 16px;
    }



    .hero-section {
        padding: 50px 5% 20px 5%;
        background-position: top;
        margin-top: 0;

    }

    .cta-button {
        text-align: center;
        display: block;
        margin: 0 auto;
        max-width: 70%;
        font-size: 12px;
    }

    .hero-content p:first-of-type {
        font-size: 40px;

    }

    .footer-center {
        display: none;
    }

    .social-icon {


        width: 30px;
        height: 30px;

    }

    .cosial-img {
        width: 20px;
        height: 20px;
    }

    .footer-section {
        height: 100px;
        gap: 30px;


        padding: 15px 80px;

        border-top: 1px solid rgba(212, 175, 55, 0.2);
        margin-top: 20px;

    }

}